<h3>Fetch exchange rates by currency</h3>

<p class="mb3">Supported currencies: <code><%= Rate::SUPPORTED_CURRENCIES.sort.join(", ").upcase %></code></p>
<pre>curl <%= rate_url('eur', format: :json) %></pre>
<pre>curl <%= rate_url('cad', format: :json) %></pre>

<p class="mt3 h5">
  Rates are refreshed once a day only. Recommended usage is to save the response in your application (cache, file, database...).
  <br>
  You can expire rates in your application based on the <code>date</code> attribute returned.
</p>
